// Color Variables

$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

//Frint Variables

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//Response Breakpoints
$bp-smallest: 0rem;
$bp-small: 37.5rem; // 600px
$bp-medium: 50rem; // 800px
$bp-large: 62.5rem; //1000px
$bp-largest: 75em; //1200px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16
  box-sizing: border-box;
  @media screen and (max-width: $bp-largest) {
    font-size: 50%; // 8/16
  }
}
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: [Header]minmax(50rem, 80vh) [Feature]min-content [Story]40vw [Hm-Gal-Ft]repeat(3, min-content);
  grid-template-columns:
    [sidebar-start]8rem[sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];

  @media screen and (max-width: $bp-large) {
    grid-template-columns:
      [sidebar-start]0[sidebar-end full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
      minmax(6rem, 1fr) [full-end];

    grid-template-rows:
      [Sidebar]6rem //// Added
      [Header]minmax(50rem, 80vh)
      [Feature]min-content
      [Story]40vw
      [Hm-Gal-Ft]repeat(3, min-content);
  }
  @media screen and (max-width: $bp-medium) {
    grid-template-rows:
      [Sidebar]6rem
      // [Header]calc(100vh - 6rem);
      [Header]minmax(50rem, calc(100vh - 6rem))
      [Realtor]minmax(15rem, 1fr);
    //     [Feature]min-content
    //     [Story-Content]min-content//// Added
    //     [Story-Pic]50vw
    //     [Hm-Gal-Ft]repeat(3, min-content);
  }

  @media screen and (max-width: $bp-small) {
    grid-template-rows:
      [Sidebar]5rem
      [Header]minmax(50rem, calc(100vh - 5rem))
      [Realtor]minmax(15rem, 1fr);
  }
}

#current--vh {
  display: inline-block;
  padding: 0px 5px 0px;
  z-index: 1000;
  background-color: rgba(rgb(222, 224, 137), 0.5);
  position: fixed;
  right: 0;
  bottom: 30px;
  font-size: 20px;
  color: rgb(81, 15, 213);
  text-align: right;
  z-index: 100;
}
